<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja prva stranica</title>
</head>
<body>
    <h1>Moja prva stranica</h1>
    <p>Autor: <%= name %></p>
</body>
</html>